<div class="column gap-1">
  <!-- Product section -->
  <div class="row wrap gap-1">
    @for(product of products; track product.name){
    <app-product
      [product]="product"
      (productOutput)="onProductOutput($event)"
    ></app-product>
    }
  </div>
  <!-- Paginator -->
  <p-paginator
    [rows]="rows"
    [totalRecords]="totalrecords"
    [rowsPerPageOptions]="[5, 10, 15, 20]"
    (onPageChange)="onPageChange($event)"
  ></p-paginator>
</div>
<!-- Edit Product -->
<app-edit-popup
  [product]="selectedProduct"
  [display]="displayEditPopup"
  (confirm)="onConfirmEdit($event)"
  header="Edit Product"
></app-edit-popup>
<!-- Add Product -->
<app-edit-popup
  [display]="displayAddPopup"
  (confirm)="onConfirmAdd($event)"
  header="Add Product"
></app-edit-popup>
